@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}


    <div class="login-form pt-4">
        <form id="account" method="post">
            <h2 class="text-center text-success"><b>Log in</b></h2>
            <div class="form-group">
                <input asp-for="Input.Email" placeholder="Email..." class="form-control" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-for="Input.Password" placeholder="Password" class="form-control" />
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-success btn-block">Log in</button>
            </div>
            <div class="text-center">
                  <a id="forgot-password" style="text-decoration:none;" asp-page="./ForgotPassword">Forgot your password?</a>
            </div>
        </form>
    </div>



@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
