@model Uplift.Models.ViewModels.CartViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form method="post">
    @if (Model.ServiceList.Count > 0)
    {
        <br />
        <div class="backgroundWhite container">
            <div class="card">
                <div class="card-header bg-dark text-light ml-0 row container">
                    <div class="col-12 d-none d-md-block col-md-6 pb-1">
                        <i class="fas fa-shopping-cart"></i> &nbsp; Shopping Cart
                    </div>
                    <div class="col-12 col-md-4 offset-md-2 text-right">
                        <a asp-action="Index" asp-controller="Home" asp-area="Customer" class="btn btn-outline-info form-control btn-sm">Shopping Cart</a>
                    </div>
                </div>
                <div class="card-body">

                </div>
            </div>
        </div>
    }
</form>
